<!DOCTYPE html>
<html lang="en"
    xmlns:th="httpL//www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Iteration in Thymeleaf</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body>
    <h2>Users List</h2>
    <table>
        <thead>
            <tr>
                <th>Count</th>
                <th>Index</th>
                <th>Odd?</th>
                <th>Even?</th>
                <th>First?</th>
                <th>Last?</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user, userStatus : ${users}">
                <td th:text="${userStatus.count}">Count</td></p>
                <td th:text="${userStatus.index}">Index</td></p>
                <td th:text="${userStatus.odd}">True</td></p>
                <td th:text="${userStatus.even}">False</td></p>
                <td th:text="${userStatus.first}">True</td></p>
                <td th:text="${userStatus.last}">False</td></p>
                <td th:text="${user.name}">Name</td></p>
                <td th:text="${user.email}">Email</td></p>
                <td th:text="${user.role}">Role</td></p>
                <td th:text="${user.gender}">Gender</td></p>
            </tr>
        </tbody>
    </table>
</body>
</html>