<!DOCTYPE html>
<html lang="en"
    xmlns:th="httpL//www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Variable Expressions</title>
    <link rel="stylesheet" href="/simple.css">
</head>
<body>
    <h1>Variable Expression Demo:</h1>
    <h2>User Details:</h2>
    <div>
        <p>Name: <strong th:text="${user.name}">Name</strong></p>
        <p>Email: <strong th:text="${user.email}">Email</strong></p>
        <p>Role: <strong th:text="${user.role}">Role</strong></p>
        <p>Gender: <strong th:text="${user.gender}">Gender</strong></p>
    </div>
</body>
</html>